<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Gender :</p>
    <input type="radio"> Male 
    <input type="radio"> Female 
    <br>
    <p>Ever Married:</p>
    <input type="radio"> Yes
    <input type="radio"> No 
    <br>
    <p>Work Type :</p>
    <input type="radio"> Children 
    <input type="radio"> Government Job 
    <input type="radio"> Never Worked 
    <input type="radio"> Private 
    <input type="radio"> Self Employed  
    <br>
    <p>Residence Type :</p>
    <input type="radio"> Rural 
    <input type="radio"> Urban
    <br>
    <p>Smoking Status :</p>
    <input type="radio"> Formerly smoked
    <input type="radio"> Never smoked
    <input type="radio"> Smokes
    <input type="radio"> Unknown 
    <br>
    <br>
    
    <input type="file" id="myFile" name="filename">
    <br>
    <br>

    <input type="radio"> Naive Bayes<br>
    <input type="radio"> Decision Tree 
    
  </form>
    <br>
    <br>
    <input type= "submit" value="classify" id="classify">

</body>
</html>